/AirportManager-backend/target/
*.log
/AirportManager/AirportManager-backend/target/
/AirportManager/AirportManager-api/target/
/AirportManager/AirportManager-web/target/
/AirportManager/AirportManager-web2/target/
/AirportManager/AirportManager-rest-jersey-client/target/