/* 
    Created on : Nov 12, 2013, 8:50:41 PM
    Author     : Filip
*/
input.error {
    background-color: orangered;
}

body {
    font-size: 1em;
    font-family: Courier;
    background-color: rgb(221,221,221);
    margin: 0 auto;
    padding: 0;
}

#main-wrapper {
    background: white;
    position: absolute;
    top: 0em;
    left: 20.4em;
    right: 0em;
    margin: auto;
}
/*header*/
.logo {
    float:left;
    padding-left: 1em;
    padding-top: 1em;
}

.logout {
    text-align:right;
    margin-top: 1em;
    padding: 1em;
    background: white;
    font-size: 120%;
}
/*header*/

h1 {
    text-align: left; 
    text-decoration: none; 
    padding: 0.2em;
    margin: 0em;
    font-size: 200%;
}

.text-content {
    margin-left: 0.9em;
    margin-right: 0.9em;
    background-color: rgb(221,221,221);
    padding: 1em;
    /*margin-top: 1.5em;*/
    margin-bottom: 1.5em;
}

#navigation {
    background-color: rgb(221,221,221);
    /*position*/
    position: absolute;
    top: 0.8em;
    left: 0em;
    width: 16em;
    height: 100%;
    margin: 0 auto;
    padding: 0.5em;
    /*font*/
    line-height: 220%;
    text-align: center;
    font-size: 120%;
    color: #000000;
}

.user {
    border-bottom: 0.08em solid #000000;
}

.admin {
    
}

a {color: black;}
a:link {}
a:visited {}
a:hover {}
a:active {}

table {
    text-align: left;
    font-size: 115%;
    margin: 5px;
    
}

table th {
    font-weight: normal;
    padding: 0.8em;
}

input {
    font-family: Courier;
    border : black solid 0.09em;
    padding-left : 0.5em;
    padding-right : 0.5em;
    padding-top : 0.2em;
    padding-bottom : 0.2em;
    color: black;
    background-color: white;
    font-size: 100%;
}

legend {
    font-size: 120%;
}

thead th {
    padding-bottom: 2em;
}

table.basic { 
    border-collapse: collapse; 
    width: 85%;
    margin: 5px;
    font-size: 115%;
}

table.basic tr {
    font-size: 105%;
}

table.basic tr:nth-child(odd) {
    background-color: lightgray;
}

table.basic tr:nth-child(even) {
    background-color: white;
}

table.basic th, table.basic td {  
    border: solid 1px black;
    padding: 3px;
}