/* 
    Created on : Nov 12, 2013, 8:50:41 PM
    Author     : Filip
*/
body {
    font-size: 1em;
    font-family: Courier;
    background-color: rgb(221,221,221);
    margin: 0 auto;
    padding: 0;
}

#main-wrapper {
    background: white;
    position: absolute;
    top: 0em;
    left: 25.5em;
    right: 0em;
    margin: auto;
}
/*header*/
.logo {
    float:left;
    padding-left: 0.5em;
    padding-top: 0.5em;
}

.logout {
    text-align:right;
    padding: 1em;
    background: white;
}
/*header*/

h1 {
    text-align: left; 
    text-decoration: none; 
    padding: 5px;
    margin: 0em;
    font-size: 200%;
}

.text-content {
    margin: 0.5em;
    background-color: rgb(221,221,221);
    padding: 0.5em;
}

#navigation {
    background-color: darkgray;
    /*position*/
    position: absolute;
    top: 0.1em;
    left: 0em;
    width: 16em;
    height: 100%;
    margin: 0 auto;
    padding: 0.5em;
    /*font*/
    line-height: 220%;
    text-align: center;
    font-size: 150%;
    color: #000000;
}

.user {
    border-bottom: 0.08em solid #000000;
}

.admin {
    
}

a {color: black;}
a:link {}
a:visited {}
a:hover {}
a:active {}

table {
    text-align: left;
}

thead th {
    padding-bottom: 2em;
}

table.basic { 
    border-collapse: collapse; 
    width: 85%;
    margin: 5px;
}

table.basic tr:nth-child(odd) {
    background-color: lightgray;
}

table.basic tr:nth-child(even) {
    background-color: white;
}

table.basic th, table.basic td {  
    border: solid 1px black;
    padding: 3px;
}