<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
        
<!-- from SpringDemo-Banking

       <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location">
                <value>database.properties</value>
        </property>
    </bean>
    
    <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>
    
    <bean id="bankService" class="eu.ibacz.swsc.spring.di.testdependencyinjection.service.impl.BankServiceImpl">
        <property name="customerDao" ref="springJdbcCustomerDao"/>
    </bean>
    
    <bean class="eu.ibacz.swsc.spring.di.testdependencyinjection.aspect.BankServiceLoggingAspect">
        <property name="notifier" ref="remoteNotifier"/>
    </bean>

    <bean id="sysOutNotifier" class="eu.ibacz.swsc.spring.commons.springdemocommons.SysOutNotifier"/>
    
    <bean id="springJdbcCustomerDao" class="eu.ibacz.swsc.spring.di.testdependencyinjection.dao.impl.JdbcTemplateCustomerDaoImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    
    <bean id="remoteNotifier" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
        <property name="serviceUrl" value="${serviceUrl}"/>
        <property name="serviceInterface" value="${serviceInterface}"/>
    </bean>-->
    
</beans>